

.main {
    padding: 100px 0px;
    background: radial-gradient(circle, rgb(11, 109, 227) 0%, rgb(22, 103, 201) 0%, rgb(2, 76, 167) 90%) !important;
}

.main button{
   
    background-color: transparent;
   border: 1px solid #dddddd;
    padding: 10px 15px;
    transition: all 0.5 ease-in-out;
    margin-top: 30px;
    color: #dddddd;
}

.main button:hover{
    
    color: #FFFFFF;
}